
        body {
            background-color: white;
        }
        table{
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
        table, th, td{
            border:1px solid black;
            text-align: center;
            font-size : 25px
        }
        th, td{
            height: 40px;
        }
        ul, li{
            list-style-type: none;
        }
        h1 {
            color: red;
            text-align: center;
        }

        #refresh-button{
            text-decoration: brown;
        }

        #change-bus{
            text-decoration: brown;
        }

        .Button {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            display: flex;
            justify-content: space-between;
        }

        #numberIn, #numberOut, #numberCur{
            height: 70px;
            font-size: 45px;
        }

        .statusText, #frontDoorStatus, #rearDoorStatus, #cam1, #cam2{
            height: 50px;
            color: rgb(0, 0, 0) ;
        }
        a{
            text-decoration: none;
        }
        button{
            font-size: 16px;    
        }